<div class="container">
  <div class="columns is-multiline is-centered">
    @for(image of images; track image.imageId) {
    <div class="image-manager column is-one-third is-vcentered">
      <img src="{{ getThumbnailName(image.imagePath) }}" alt="{{ image.imageDescription }}" />
      <button class="has-text-danger" mat-raised-button (click)="onDeleteImage(image.imageId!)">
        Supprimer
      </button>
    </div>
    }
  </div>

  <button mat-fab alert (click)="fileinput.click()">
    <mat-icon>add_a_photo</mat-icon>

    <input type="file" (change)="onFileSelected($event)" #fileinput hidden />
  </button>
  @if(selectedFile) {
  <div>{{ selectedFile.name }}</div>
  <button mat-raised-button (click)="onUploadImage()">Upload</button>
  }
</div>
