@use '@angular/material' as mat;
@use 'src/styles.scss' as *;

@import '@mainAdminStyle';

.social-logo {
  height: 32px;
  width: 32px;
  margin: 0 10px;
  cursor: pointer;

  &:hover {
    transform: scale(1.2);
    transition: all 0.3s ease;
  }
}

.page-header {
  background-image: url('../../../../../assets/images/contact-hero.png');
  .mat-display-3 {
    color: white;
  }
}

mat-card-header h5 {
  color: mat.get-color-from-palette($arcadia-primary, 500);
  font-weight: 500;
}
