<div class="page-header is-flex is-justify-content-center is-align-items-center mb-6">
  <h1 class="mat-display-3">Contactez-nous</h1>
</div>
<div class="container mb-6">
  <div class="columns is-vcentered">
    <div class="column">
      <mat-card style="background-color: transparent; box-shadow: none">
        <mat-card-header>
          <mat-card-title> <h5>Coordonnées</h5> </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p><strong>Adresse:</strong> Val Sans Retour - 56430 Mauron - France</p>
          <p><strong>Téléphone:</strong> 02 03 04 05 06</p>
        </mat-card-content>
        <mat-card-header>
          <mat-card-title> <h5>Réseaux sociaux</h5> </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <a href="https://www.facebook.com/">
            <img
              class="social-logo"
              src="assets/images/Facebook_Logo_Primary.png"
              alt="Facebook logo"
          /></a>
          <a href="https://www.instagram.com/"
            ><img
              class="social-logo"
              src="assets/images/Instagram_Glyph_Gradient.png"
              alt="Instagram logo"
          /></a>
          <a href="https://x.com/home"
            ><img class="social-logo" src="assets/images/X-logo-black.png" alt="X-twitter logo"
          /></a>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="column">
      <mat-card>
        <mat-card-header>
          <mat-card-title> <h5>Formulaire de contact</h5> </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <form
            [formGroup]="contactForm"
            (ngSubmit)="onSendMessage(contactForm.value, formDirective)"
            #formDirective="ngForm"
          >
            @for (field of contactFormFields; track $index) {
            <div>
              @switch(field.type) {
              <!-- Prettier ignore -->
              @case('text') {
              <mat-form-field class="full-width">
                <mat-label>{{ field.label }}</mat-label>
                <input
                  type="text"
                  matInput
                  formControlName="{{ field.controlName }}"
                  placeholder="{{ field.placeholder }}"
                />
                <mat-hint align="end">
                  {{ contactForm.get(field.controlName)?.value?.length || 0 }}/{{ field.maxLength }}
                </mat-hint>
                @if(contactForm.get(field.controlName)?.hasError('required')) {
                <mat-error>Ce champ est requis</mat-error>
                } @if(contactForm.get(field.controlName)?.hasError('maxlength')) {
                <mat-error>{{ field.label }} trop long</mat-error>
                } @if(contactForm.get(field.controlName)?.hasError('email')) {
                <mat-error>Adresse email invalide</mat-error>
                } @if(contactForm.get(field.controlName)?.hasError('nameFormat')) {
                <mat-error>{{
                  contactForm.get(field.controlName)?.getError('nameFormat')
                }}</mat-error>
                } @if(contactForm.get(field.controlName)?.hasError('uniqueEmail')) {
                <mat-error>{{
                  contactForm.get(field.controlName)?.getError('uniqueEmail')
                }}</mat-error>
                }
              </mat-form-field>
              }
              <!-- Prettier ignore -->
              @case ('textarea') {
              <mat-form-field class="full-width">
                <mat-label>{{ field.label }}</mat-label>
                <textarea
                  matInput
                  formControlName="{{ field.controlName }}"
                  cdkTextareaAutosize
                  #autoSize="cdkTextareaAutosize"
                  cdkAutosizeMinRows="{{ field.minRows }}"
                  cdkAutosizeMaxRows="{{ field.maxRows }}"
                  placeholder="{{ field.placeholder }}"
                ></textarea>
                <mat-hint align="end">
                  {{ contactForm.get(field.controlName)?.value?.length || 0 }}/{{ field.maxLength }}
                </mat-hint>
                @if(contactForm.get(field.controlName)?.hasError('required')) {
                <mat-error>Ce champ est requis</mat-error>
                } @if(contactForm.get(field.controlName)?.hasError('maxlength')) {
                <mat-error>{{ field.label }} trop long</mat-error>
                }
              </mat-form-field>
              } }
            </div>
            }
            <div class="level mt-3">
              <div class="level-right"></div>
              <div class="level-left has-text-centered">
                <div class="level-item">
                  <button
                    mat-raised-button
                    [class.has-text-success]="contactForm.valid"
                    [disabled]="contactForm.invalid"
                    type="submit"
                  >
                    <mat-icon
                      aria-hidden="false"
                      aria-label="Save icon"
                      fontSet="material-symbols-outlined"
                      >send</mat-icon
                    >
                    Envoyer
                  </button>
                </div>
                <div class="level-item">
                  <button
                    class="has-text-danger"
                    mat-raised-button
                    type="button"
                    (click)="onCancelMessage(formDirective)"
                  >
                    <mat-icon
                      aria-hidden="false"
                      aria-label="Cancel icon"
                      fontSet="material-symbols-outlined"
                      >cancel</mat-icon
                    >
                    Annuler
                  </button>
                </div>
              </div>
            </div>
          </form>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
