<div class="container">
  <div class="has-text-centered">
    <h1 class="mat-display-3">Contactez-nous</h1>
  </div>
  <div class="columns">
    <div class="column">
      <mat-card>
        <mat-card-header>
          <mat-card-title> <h5>Coordonnées</h5> </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p><strong>Adresse:</strong> Val Sans Retour - 56430 Mauron - France</p>
          <p><strong>Téléphone:</strong> 02 03 04 05 06</p>
        </mat-card-content>
        <mat-card-header>
          <mat-card-title> <h5>Réseaux sociaux</h5> </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <img
            class="social-logo"
            src="assets/images/Facebook_Logo_Primary.png"
            alt="Facebook logo"
          />
          <img
            class="social-logo"
            src="assets/images/Instagram_Glyph_Gradient.png"
            alt="Instagram logo"
          />
          <img class="social-logo" src="assets/images/X-logo-black.png" alt="X-twitter logo" />
        </mat-card-content>
      </mat-card>
    </div>
    <div class="column">
      <mat-card>
        <mat-card-header>
          <mat-card-title> <h5>Formulaire de contact</h5> </mat-card-title>
        </mat-card-header>
        <mat-card-content> </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
