@use '@angular/material' as mat;

@use 'bulma/sass/utilities';
@use 'bulma/sass/helpers';
@use 'bulma/sass/grid';
@use 'bulma/sass/layout';
@use 'bulma/sass/themes';

@include mat.core();

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
