<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="dashboard/home"
        ><mat-icon aria-hidden="false" aria-label="Home icon" fontSet="material-symbols-outlined"
          >home</mat-icon
        >
        Accueil</a
      >
      <a mat-list-item href="dashboard/schedule"
        ><mat-icon
          aria-hidden="false"
          aria-label="Schedule icon"
          fontSet="material-symbols-outlined"
          >schedule</mat-icon
        >
        Horaires</a
      >
      <a mat-list-item href="dashboard/service"
        ><mat-icon
          aria-hidden="false"
          aria-label="Services icon"
          fontSet="material-symbols-outlined"
          >info</mat-icon
        >
        Services</a
      >
      <a mat-list-item href="dashboard/biome"
        ><mat-icon aria-hidden="false" aria-label="Biomes icon" fontSet="material-symbols-outlined"
          >forest</mat-icon
        >
        Habitats</a
      >
      <a mat-list-item href="dashboard/specie"
        ><mat-icon aria-hidden="false" aria-label="Species icon" fontSet="material-symbols-outlined"
          >pets</mat-icon
        >
        Espèces</a
      >
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      @if (isHandset$ | async) {
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon" fontSet="material-symbols-outlined"
          >menu</mat-icon
        >
      </button>
      }
      <span>Arcadia</span>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
