<section class="service-section">
  <div class="container">
    <div class="is-flex is-flex-wrap-wrap is-justify-content-space-evenly">
      @for(service of services; track $index){
      <mat-card class="service-card m-5 pb-3" appearance="outlined">
        <mat-card-header>
          <mat-card-title>{{ service.serviceName }}</mat-card-title>
          <mat-card-subtitle>{{ service.serviceShortDescr }}</mat-card-subtitle>
        </mat-card-header>
        @if(service.images){
        <img
          mat-card-image
          src="{{ service.images[0].imagePath }}"
          alt="{{ service.images[0].imageDescription }}"
        />}

        <mat-card-actions>
          <a class="accent-button" routerLink="/contact" mat-button matTooltip="Voir les détails"
            >Détails</a
          >
        </mat-card-actions>
      </mat-card>
      }
    </div>
  </div>
</section>
