<div class="page-header is-flex is-align-items-center mb-6">
  <h1 class="mat-display-3 container has-text-centered">Carte d'identité</h1>
</div>
<div class="container mb-6">
  <div class="identity columns is-vcentered">
    <div class="column">
      <div class="identity-picture">
        @if(animal.images && animal.images.length > 0){
        <img
          class="circle-image"
          src="{{ animal.images[0].imagePath }}"
          alt="{{ animal.images[0].imageDescription }}"
        />

        } @else {
        <img src="assets/images/blank-image.png" alt="No picture" class="animal-image" />
        }
      </div>
    </div>
    <div class="column is-flex is-flex-direction-column is-justify-content-space-between">
      <div class="identity-text">
        <h3>{{ animal.animalName }}</h3>
        <h4>{{ animal.animalSpecie }} {{ animal.animalGender }}</h4>
        <h5>{{ calculateAge(animal.animalBirth) }}</h5>
        <p class="animal-description">{{ animal.animalDescr }}</p>
      </div>

      @if(animal.reports && animal.reports.length > 0){
      <div class="vet-report p-4">
        <h5><strong>Rapport du vétérinaire: </strong>{{ animal.reports[0].reportState }}</h5>
        <p>
          <strong>Dernière visite:</strong> {{ animal.reports[0].reportDate | date : 'dd/MM/yyyy' }}
        </p>
        <p>{{ animal.reports[0].reportDetails }}</p>
      </div>
      }
    </div>
  </div>
  @if(animal.images && animal.images.length > 0){
  <arz-image-gallery [images]="animal.images"></arz-image-gallery>
  }
</div>
