<header>
  <mat-toolbar color="primary">
    <img class="svg-logo" src="/assets/images/svg/arcadia_logo.svg" alt="Logo Zoo Arcadia" />
    <span class="toolbar-spacer"></span>
    <div class="navigation">
      <a routerLink="/home" mat-button matTooltip="Page d'accueil">Accueil</a>
      <a routerLink="/services" mat-button matTooltip="Découvrez nos services">Services</a>
      <a routerLink="/biomes" mat-button matTooltip="Visitez nos zones d'habitation">Habitats</a>
      <a routerLink="/contact" mat-button matTooltip="Contactez-nous">Contact</a>
    </div>
    <span class="toolbar-spacer"></span>
    <a
      mat-icon-button
      aria-label="Login button"
      matTooltip="Connexion utilisateur"
      routerLink="/dashboard"
    >
      <mat-icon aria-hidden="false" aria-label="Schedule icon" fontSet="material-icons-outlined"
        >login</mat-icon
      >
    </a>
  </mat-toolbar>
</header>
<main class="arcadia-theme-typography">
  <router-outlet></router-outlet>
</main>
<arz-footer></arz-footer>
