@use '@angular/material' as mat;
@use 'src/styles.scss' as *;

.toolbar-spacer {
  flex: 1 1 auto;
}

nav {
  position: sticky;
  top: 0;
}

nav.nav-scrolled {
  background-color: mat.get-color-from-palette($arcadia-primary, 500);
  transition: background-color 0.5s ease;
}

.logo {
  margin-top: 50px;
  height: 100px;
  transition: all 0.5s ease;
}

.logo-scrolled {
  height: 50px;
  transition: all 0.5s ease;
}

.desktop-menu {
  display: flex;
  align-items: center;
}

.mobile-menu {
  display: none;
}

@media (max-width: 768px) {
  .desktop-menu {
    display: none;
  }

  .mobile-menu {
    display: block;
  }
}

main {
  min-height: 100vh;
}

.mat-toolbar.mat-transparent {
  background: transparent;
}
