<div class="container">
  <h1 class="m-6 has-text-centered">Rapports sur les animaux</h1>

  <mat-accordion>
    <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <h2 class="m-6 has-text-centered">Liste des animaux</h2>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <arz-sql-data-table
        [config]="reportsConfig"
        (viewData)="viewReports($event)"
        (newSubData)="addReport($event)"
      ></arz-sql-data-table>
    </mat-expansion-panel>
  </mat-accordion>

  <mat-accordion>
    <mat-expansion-panel [expanded]="showReportList" [disabled]="!showReportList">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <h2 class="m-6 has-text-centered">
            Liste des rapports @if(showReportList) { pour {{ selectedAnimal?.animalName }} }
          </h2>
        </mat-panel-title>
      </mat-expansion-panel-header>
      @if(showReportList){
      <div>
        <arz-sql-data-table
          [config]="reportListConfig"
          (viewData)="viewAnimalReport($event)"
        ></arz-sql-data-table>
      </div>
      }
    </mat-expansion-panel>
  </mat-accordion>

  <arz-sql-form [config]="reportFormConfig" (saveData)="saveReport($event)"></arz-sql-form>
</div>
