<div class="page-header is-flex is-align-items-center mb-6">
  <h1 class="mat-display-3 container has-text-centered">Les Territoires d'Arcadia</h1>
</div>
<div class="container mb-6">
  <div class="my-6 page-intro">
    Voyagez dans les Territoires d'Arcadia et découvrez nos pensionnaires.
  </div>
  <div class="page-content">
    @for(biome of biomes; track $index){
    <div class="py-6">
      <h3 class="content-title">
        {{ biome.biomeName }}
      </h3>
      <div class="columns is-vcentered container">
        <div class="column is-half-desktop">
          <p class="content-description">
            {{ biome.biomeLongDescr }}
          </p>
        </div>
        @if(biome.images && biome.images.length > 0){
        <div class="column">
          <img
            class="biome-image"
            src="{{ biome.images[0].imagePath }}"
            alt="{{ biome.images[0].imageDescription }}"
          />
        </div>
        } @else {
        <div class="column">
          <p>Aucune image disponible pour ce territoire.</p>
        </div>
        }
      </div>
      @if(biome.images && biome.images.length > 0){
      <arz-image-gallery [images]="biome.images"></arz-image-gallery>
      }
      <h4 class="has-text-centered py-6">Les pensionnaires</h4>
      <div class="container specie-list">
        <ul class="is-justify-content-space-evenly">
          @for(specie of biome.species; track $index){
          <li>
            <mat-card>
              <mat-card-header class="is-flex flex-1 mb-3" apparence="outlined">
                <mat-card-title>{{ specie.specieName }}</mat-card-title
                ><br />
                <mat-card-subtitle>{{ specie.specieTaxon }}</mat-card-subtitle>
              </mat-card-header>
              <mat-card-content class="mb-4">
                <p>{{ specie.specieDescr }}</p>
              </mat-card-content>
              <mat-card-footer>
                <div class="is-flex is-flex-wrap-wrap-reverse is-justify-content-space-evenly">
                  @for(animal of specie.animals; track $index){

                  <div
                    class="animal-card is-flex is-flex-direction-column is-align-items-center is-justify-content-center"
                    (click)="goToAnimalPage(animal.animalId)"
                  >
                    <div class="animal-miniature is-align-items-end">
                      @if(animal.images && animal.images.length > 0){

                      <img
                        class="animal-image"
                        src="{{ animal.images[0].imagePath }}"
                        alt="{{ animal.images[0].imageDescription }}"
                      />

                      } @else {
                      <img
                        src="assets/images/blank-image.png"
                        alt="No picture"
                        class="animal-image"
                      />
                      }
                    </div>

                    {{ animal.animalName }}
                  </div>

                  }
                </div>
              </mat-card-footer>
            </mat-card>

            <br />
          </li>
          }
        </ul>
      </div>
    </div>

    }
  </div>
</div>
