@if(editForm) {
<h2 class="has-text-centered">{{ formTitle }}</h2>

<div class="columns">
  <div class="column is-half is-offset-one-quarter has-text-centered">
    <form [formGroup]="form">
      @if(form.getError('timeOrder')){
      <mat-error class="mb-3">{{form.errors?.['timeOrder']}}</mat-error>
      }
      <!-- Prettier ignore -->
      @for (field of config.formFields ; track $index) {
      <div>
        @switch(field.type) {
        <!-- Prettier ignore -->
        @case('text') {
        <mat-form-field class="full-width">
          <mat-label>{{ field.label }}</mat-label>
          <input
            type="text"
            matInput
            formControlName="{{ field.controlName }}"
            placeholder="{{ field.placeholder }}"
          />
          <mat-hint align="end">
            {{ form.get(field.controlName)?.value?.length || 0 }}/{{ field.maxLength }}
          </mat-hint>
          @if(form.get(field.controlName)?.hasError('required')) {
          <mat-error>Ce champ est requis</mat-error>
          } @if(form.get(field.controlName)?.hasError('maxlength')) {
          <mat-error>{{ field.label }} trop long</mat-error>
          } @if(form.get(field.controlName)?.hasError('email')) {
          <mat-error>Adresse email invalide</mat-error>
          } @if(form.get(field.controlName)?.hasError('nameFormat')) {
          <mat-error>{{ form.get(field.controlName)?.getError('nameFormat') }}</mat-error>
          } @if(form.get(field.controlName)?.hasError('uniqueEmail')) {
          <mat-error>{{ form.get(field.controlName)?.getError('uniqueEmail') }}</mat-error>
          }
        </mat-form-field>
        }
        <!-- Prettier ignore -->
        @case('password') {
        <mat-form-field class="full-width">
          <mat-label>{{ field.label }}</mat-label>
          <input
            matInput
            type="{{ hide ? 'password' : 'text' }}"
            formControlName="{{ field.controlName }}"
            placeholder="{{ field.placeholder }}"
          />
          <mat-icon
            matSuffix
            aria-hidden="false"
            aria-label="Reset icon"
            fontSet="material-symbols-outlined"
            (click)="hide = !hide"
            >{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon
          >
          <mat-hint align="end">
            12 caractères mini & 3 parmi: majuscule, minuscule, chiffre, caractère spécial
          </mat-hint>
          @if(form.get(field.controlName)?.hasError('required')) {
          <mat-error>Ce champ est requis</mat-error>
          } @if(form.get(field.controlName)?.hasError('maxlength')) {
          <mat-error>{{ field.label }} trop long</mat-error>
          } @if(form.get(field.controlName)?.hasError('passwordComplexity')){
          <mat-error class="mb-3">{{
            form.get(field.controlName)?.getError('passwordComplexity')
          }}</mat-error>
          }
        </mat-form-field>
        }
        <!-- Prettier ignore -->
        @case ('date') {
        <div class="has-text-left">
          <mat-form-field>
            <mat-label>{{ field.label }}</mat-label>
            <input
              matInput
              formControlName="{{ field.controlName }}"
              placeholder="{{ field.placeholder }}"
              [matDatepicker]="picker"
            />
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            @if(form.get(field.controlName)?.hasError('required')) {
            <mat-error>Ce champ est requis</mat-error>
            }
          </mat-form-field>
        </div>

        }
        <!-- Prettier ignore -->
        @case ('textarea') {
        <mat-form-field class="full-width">
          <mat-label>{{ field.label }}</mat-label>
          <textarea
            matInput
            formControlName="{{ field.controlName }}"
            cdkTextareaAutosize
            #autoSize="cdkTextareaAutosize"
            cdkAutosizeMinRows="{{ field.minRows }}"
            cdkAutosizeMaxRows="{{ field.maxRows }}"
            placeholder="{{ field.placeholder }}"
          ></textarea>
          <mat-hint align="end">
            {{ form.get(field.controlName)?.value?.length || 0 }}/{{ field.maxLength }}
          </mat-hint>
          @if(form.get(field.controlName)?.hasError('required')) {
          <mat-error>Ce champ est requis</mat-error>
          } @if(form.get(field.controlName)?.hasError('maxlength')) {
          <mat-error>{{ field.label }} trop long</mat-error>
          }
        </mat-form-field>
        }
        <!-- Prettier ignore -->
        @case ('select') {
        <mat-form-field>
          <mat-label>{{ field.label }}</mat-label>
          <mat-select
            formControlName="{{ field.controlName }}"
            (selectionChange)="field.controlName === 'biomeKey' && biomeChange.emit($event.value)"
          >
            @for(option of field.selectOptions; track option) {
            <mat-option [value]="option.idValue">{{ option.label }}</mat-option>
            }
          </mat-select>
          @if(form.get(field.controlName)?.hasError('required')) {
          <mat-error>Ce champ est requis</mat-error>
          }
        </mat-form-field>
        }
        <!-- Prettier ignore -->
        @case ('time') {
        <mat-form-field>
          <mat-label>{{ field.label }}</mat-label>
          <input
            type="time"
            matInput
            formControlName="{{ field.controlName }}"
            placeholder="{{ field.placeholder }}"
          />
          <mat-icon
            matSuffix
            class="has-text-danger"
            aria-hidden="false"
            aria-label="Reset icon"
            fontSet="material-symbols-outlined"
            (click)="onResetTime(field.controlName)"
            style="cursor: pointer"
            >device_reset</mat-icon
          >
        </mat-form-field>
        }
        <!-- Prettier ignore -->
        @case('radio') {
        <div class="mb-3 has-text-left">
          <label>{{ field.label }}</label>
          <mat-radio-group formControlName="{{ field.controlName }}">
            @for(option of field.radioOptions; track option) {
            <mat-radio-button [value]="option.idValue">{{ option.label }}</mat-radio-button>
            }
          </mat-radio-group>
          @if(form.get(field.controlName)?.hasError('required') &&
          !form.get(field.controlName)?.untouched) {
          <mat-error>Veuillez sélectionner une option</mat-error>
          }
        </div>
        } }
      </div>
      }
      <div class="level mt-3">
        <div class="level-right"></div>
        <div class="level-left has-text-centered">
          <div class="level-item">
            <button
              mat-raised-button
              [class.has-text-success]="form.valid"
              [disabled]="form.invalid"
              (click)="onSaveData(form.value)"
            >
              <mat-icon
                aria-hidden="false"
                aria-label="Save icon"
                fontSet="material-symbols-outlined"
                >save </mat-icon
              >Enregister
            </button>
          </div>
          <div class="level-item">
            <button class="has-text-danger" mat-raised-button (click)="onCancelEdit()">
              <mat-icon
                aria-hidden="false"
                aria-label="Cancel icon"
                fontSet="material-symbols-outlined"
                >cancel</mat-icon
              >Annuler
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
}
