<div class="page-header is-flex is-align-items-center mb-6">
  <h1 class="mat-display-3 container has-text-centered">Les Services d'Arcadia</h1>
</div>
<div class="container mb-6">
  <div class="page-intro">
    Découvrez les services que le zoo d'Arcadia vous propose pour rendre votre visite inoubliable.
  </div>
  <div class="page-content">
    @for(service of services; track $index) {
    <h3 class="content-title">
      {{ service.serviceName }}
    </h3>
    <div class="columns is-vcentered container">
      <div class="column is-half-desktop">
        <p class="content-description">
          {{ service.serviceLongDescr }}
        </p>
        <a class="accent-button" routerLink="/contact" mat-button matTooltip="Contactez-nous"
          >Contact</a
        >
      </div>
      @if(service.images) {
      <div class="column">
        <img
          class="service-image"
          src="{{ service.images[0].imagePath }}"
          alt="{{ service.images[0].imageDescription }}"
        />
      </div>
      }
    </div>
    }
  </div>
</div>
