@use '@angular/material' as mat;
@use 'src/styles.scss' as *;

@import '@mainAdminStyle';

$arcadia-primary-500: mat.get-color-from-palette($arcadia-primary-palette, 500);
$arcadia-secondary-500: mat.get-color-from-palette($arcadia-secondary-palette, 500);
$arcadia-accent-500: mat.get-color-from-palette($arcadia-accent-palette, 500);

.page-header {
  background-image: url('../../../../../assets/images/service-hero.png');
  .mat-display-3 {
    color: white;
  }
}

.page-intro {
  font-family: 'Bricolage Grotesque';
  font-size: 1.3em;
  font-weight: 500;
}

.content-title {
  color: $arcadia-secondary-500;
  font-weight: 500;
  border-top: 2px solid $arcadia-secondary-500;
  padding-top: 0.3em;
  border-bottom: 2px solid $arcadia-secondary-500;
  padding-bottom: 0.3em;
  padding-left: 1em;
}

.service-image {
  width: 100%;
  height: auto;
  border-radius: 1em;
}

.accent-button {
  background-color: $arcadia-accent-500;
}
